* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Press";
    src: url(Font/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: "Pangolin";
    src: url(Font/Pangolin-Regular.ttf);
}

.header {
    background-color: rgb(26, 255, 0);
    font-family: "Press", sans-serif;
}

.header_title {
    font-size: 3vw;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.content {
    display: flex;
    padding-top: 25px;
    gap: 15px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav a {
    text-decoration: none;
    color: rgb(39, 39, 39);
    transition: 0.2s;
    font-size: 1.5vw;
    font-family: "Press", monospace;
}

.nav {
    display: flex;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    flex-direction: column;
    background-color: rgb(26, 255, 0);
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 600px;
}

.nav a:hover {
    color: red;
}

header {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0px;
}

.footer {
    background-color: black;
    color: white;
    font-family: "Press", sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

footer p {
    padding-bottom: 10px;
}

.content {
    display: flex;
    padding-top: 25px;
    gap: 15px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

.main {
    font-family: "Pangolin", sans-serif;
    background: linear-gradient(rgb(0, 21, 255) , rgb(255, 0, 0));
} 

.txt {
    background-color: white;
    font-size: 30px;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    margin: 20px 0px 0px 0px;
}

.qr {
    border-radius: 20px;
    width: 300px;
    height: 300px;
    transition: 0.3s;
}

.qr:hover {
    border-radius: 5px;
    width: 320px;
    height: 320px;
    cursor: none;
}

.info {
    padding: 30px 30px 30px 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.535);
}

